{% extends 'SyliusSandboxBundle:Backend:layout.html.twig' %}

{% from 'MopaBootstrapBundle::macros.html.twig' import label %}

{% block header %}
    <h1>Shipping methods <small>Here you can configure the shipping component</small></h1>
{% endblock %}

{% block content %}
<div class="well well-small">
<a href="{{ path('sylius_sandbox_backend_shipping_method_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> new shipping method
</a>
<a href="{{ path('sylius_sandbox_backend_shipping_category_list') }}" class="btn btn-success">
    <i class="icon-tasks icon-white"></i> manage shipping categories
</a>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% if methods|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', '#id') }}</th>
            <th>{{ sylius_resource_sort('category') }}</th>
            <th>{{ sylius_resource_sort('zone') }}</th>
            <th>{{ sylius_resource_sort('name') }}</th>
            <th>{{ sylius_resource_sort('calculator') }}</th>
            <th>{{ sylius_resource_sort('updatedAt', 'last updated') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for method in methods %}
        <tr>
            <td>{{ method.id }}</td>
            <td>{{ method.category|default('<i>undefined</i>')|raw }}</td>
            <td>{{ method.zone }}</td>
            <td>{{ method.name }}</td>
            <td>{{ label(method.calculator, 'info') }}</td>
            <td>{{ method.updatedAt|date }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_sandbox_backend_shipping_method_update', {'id': method.id}) }}" class="btn">
                       <i class="icon-pencil"></i> edit
                    </a>
                    <a href="{{ path('sylius_sandbox_backend_shipping_method_delete', {'id': method.id}) }}" class="btn btn-danger confirmer"
                        data-confirmer-question="Are you sure about deleting this shipping method?"
                    >
                        <i class="icon-trash icon-white"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">Information</h4>
    You have no shipping methods configured
</div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
