{% block field_row %}
{% spaceless %}
    <div class="control-group{% if errors|length > 0 %} error{% endif %}">
        {{ form_label(form, label|default(null)) }}
        <div class="controls">
            {{ form_widget(form, {'attr': attr|default({}), 'empty_value': empty_value|default(null)}) }}
            {{ form_errors(form)}}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    {% for error in errors %}
        <div class="help-block">
          {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
        </div>
    {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    {% for error in errors %}
        <div class="alert alert-error">
            {{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}
        </div>
    {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'for': id}) %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' required'}) %}
    {% endif %}
    {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' control-label'}) %}
    <label{% for attrname,attrvalue in label_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
    {{ label|trans({}, translation_domain) }}
    </label>
{% endspaceless %}
{% endblock form_label %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_widget(form.date) }}
            <hr style="margin-top: 6px; margin-bottom: 6px; color: #fff; border: 0;" />
            {{ form_errors(form.time) }}
            {{ form_widget(form.time) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            <div class="form-inline">
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, {'attr': {'class': 'input-small'}}),
                '{{ month }}': form_widget(form.month, {'attr': {'class': 'input-small'}}),
                '{{ day }}':   form_widget(form.day, {'attr': {'class': 'input-small'}}),
            })|raw }}
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, { 'attr': { 'size': '1' } }) }}:{{ form_widget(form.minute, { 'attr': { 'size': '1' } }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'size': '1' } }) }}{% endif %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block sylius_sales_item_row %}
{% spaceless %}
<tr>
    <td>
        {% if value is not empty %}
        <a href="{{ path('sylius_sales_backend_order_item_delete', {'id': value.id}) }}" data-confirmer-question="confirmer.q.item.delete"  class="btn btn-danger confirmer"><i class="icon-trash icon-white"></i></a>
        {% endif %}
    </td>
    <td>{{ form_widget(form.variant, {'attr': {'class': 'span12'}}) }}</td>
    <td>{{ form_widget(form.quantity, {'attr': {'class': 'span3'} ,'empty_value': '1'}) }}</td>
    <td>
        {% if value is not empty %}
            {{ value.variant.product.name }}
        {% endif %}
    </td>
    <td>
        <div class="input-append pull-right">
        <input type="text" id="{{ id }}-unitPrice" class="disabled input-small" disabled="disabled" value="{{ value is not empty ? value.unitPrice : '0.00' }}"/><span class="add-on">&euro;</span>
        </div>
    </td>
    <td>
        <div class="input-append pull-right">
        <input type="text" id="{{ id }}-total" class="disabled input-small" disabled="disabled" value="{{ value is not empty ? value.unitPrice * value.quantity : '0.00' }}"/><span class="add-on">&euro;</span>
        </div>
    </td>
</tr>
{% endspaceless %}
{% endblock %}
