{% extends 'ApplicationCoreBundle:Frontend:layout.html.twig' %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="{{ path('app_core_frontend') }}">Sylius</a> <span class="divider">/</span></li>
  <li>Assortment <span class="divider">/</span></li>
  <li><a href="{{ path('sylius_catalog_category_show', {'catalogAlias': 'assortment', 'id': product.category.id, 'slug': product.category.slug}) }}">{{ product.category.name }}</a> <span class="divider">/</span></li>
  <li class="active">Product</li>
</ul>

<h1>{{ product.name }} <small>Product details.</small></h1>

{{ product.description|raw }}

{% endblock %}
