{% extends 'SyliusSandboxBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Product options<small> List of all created option types</small></h1>
{% endblock %}

{% block content %}
<div class="well well-small">
<a href="{{ path('sylius_sandbox_backend_option_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> create option
</a>
<a href="{{ path('sylius_sandbox_backend_property_list') }}" class="btn btn-success">
    <i class="icon-table icon-white"></i> manage product properties
</a>
</div>

{% if options|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', '#id') }}</th>
            <th>{{ sylius_resource_sort('name') }}</th>
            <th>{{ sylius_resource_sort('presentation') }}</th>
            <th>values</th>
            <th>{{ sylius_resource_sort('updatedAt', 'last updated') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for option in options %}
        <tr>
            <td>{{ option.id }}</td>
            <td>{{ option.name }}</td>
            <td>{{ option.presentation }}</td>
            <td>
                <ul>
                    {% for value in option.values %}
                    <li>{{ value }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ option.updatedAt|date }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_sandbox_backend_option_update', {'id': option.id}) }}" class="btn">
                       <i class="icon-pencil"></i> edit
                    </a>
                    <a href="{{ path('sylius_sandbox_backend_option_delete', {'id': option.id}) }}" class="btn btn-danger confirmer"
                        data-confirmer-question="Do you really want to delete <strong>{{ option.name }}</strong>?"
                    >
                        <i class="icon-trash icon-white"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">Information</h4>
    There are no options to display.
</div>
{% endif %}
{% endblock %}
