{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% import 'SandboxAssortmentBundle:Backend/Product:macros.html.twig' as macros %}

{% block header %}
    <h1>Assortment<small> List of all registered products in Sylius store</small></h1>
{% endblock %}

{% block content %}
<div class="well">
    <a href="{{ path('sylius_assortment_backend_product_create') }}" class="btn btn-primary">
        <i class="icon-plus icon-white"></i> create product
    </a>
    {% if not app.request.query.get('deleted') %}
    <a href="{{ path('sylius_assortment_backend_product_list', {'deleted': true}) }}" class="btn">
        <i class="icon-trash"></i> show deleted products
    </a>
    {% else %}
    <a href="{{ path('sylius_assortment_backend_product_list', {'deleted': false}) }}" class="btn">
        <i class="icon-trash"></i> hide deleted products
    </a>
    {% endif %}
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(products, sorter)  }}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
