{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Updating product.<small> Use the form below to modify existing product...</small></h1>
</div>

<form action="{{ path('sylius_assortment_backend_product_update', {'id': product.id}) }}" method="post" class="form-horizontal">
<fieldset>
    {{ form_row(form.name, {'attr': {'class': 'span6'}}) }}
    {{ form_row(form.description, {'attr': {'class': 'span5', 'rows': 10}}) }}
    {{ form_row(form.category, {'empty_value': "choose category..."}) }}
</fieldset>
    {{ form_rest(form) }}
    <div class="form-actions">
       <input type="submit" value="save changes" class="btn btn-primary btn-large" />
    </div>
</form>

{% endblock %}
