{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Categories.<small> Manage blog categories...</small></h1>
</div>

<div class="well">
<a href="{{ path('sylius_categorizer_backend_category_create', {'alias': catalog.alias}) }}" class="btn large primary">create category</a>
</div>

{% if categories %}
<table class="zebra-stripped">
  <thead>
    <tr>
      <th>#id</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                <a href="{{ path('sylius_categorizer_backend_category_show', {'alias': catalog.alias, 'id': category.id}) }}" class="btn">list posts</a>
                <a href="{{ path('sylius_categorizer_backend_category_update', {'alias': catalog.alias, 'id': category.id}) }}" class="btn">update</a>
                <a href="{{ path('sylius_categorizer_backend_category_delete', {'alias': catalog.alias, 'id': category.id}) }}" class="btn danger">delete</a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert-message info">
    <p><strong>Information.</strong> There are no categories to display.</p>
</div>
{% endif %}

{% endblock %}
