{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Blog category.<small> List of all posts in this category...</small></h1>
</div>

<div class="well">
<a href="{{ path('sylius_blogger_backend_post_create') }}" class="btn primary large">create post</a>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

{% if posts %}
<table>
    <thead>
        <tr>
            <th>#id</th>
            <th>title</th>
            <th>author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td>
                    <a href="{{ path('sylius_blogger_backend_post_show', {'id': post.id}) }}" class="btn">details</a>
                    <a href="{{ path('sylius_blogger_backend_post_update', {'id': post.id}) }}" class="btn">update</a>
                    <a href="{{ path('sylius_blogger_backend_post_delete', {'id': post.id}) }}" class="btn danger">delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert-message info">
<p><strong>Information.</strong> There are no posts to display.</p>
</div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

{% endblock %}
