{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Blog category<small> List of all posts in this category</small></h1>
{% endblock %}

{% block content %}
<div class="well">
<a href="{{ path('sylius_blogger_backend_post_create') }}" class="btn btn-primary large">
    <i class="icon-plus icon-white"></i> create post
</a>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

{% if posts|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>#id</th>
            <th>title</th>
            <th>author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td>
                    <div class="pull-right btn-group">
                        <a href="{{ path('sylius_blogger_backend_post_show', {'id': post.id}) }}" class="btn">
                            <i class="icon-book"></i> read
                        </a>
                        <a href="{{ path('sylius_blogger_backend_post_update', {'id': post.id}) }}" class="btn">
                            <i class="icon-pencil"></i> update
                        </a>
                        <a href="{{ path('sylius_blogger_backend_post_delete', {'id': post.id}) }}" class="btn btn-danger confirmer"
                            data-toggle="modal"
                            data-target="confirmer-modal"
                            data-confirmer-question="Are you sure you want to delete this post?"
                        >
                            <i class="icon-remove icon-white"></i> delete
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'SandboxCoreBundle') }}.</h4>
    There are no posts to display.
</div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

{% endblock %}
