{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Address details <small>{{ address.firstname }} {{ address.lastname }}</small></h1>
{% endblock %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#{{ address.id }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <address class="code">
                    <strong>{{ address.firstname }} {{ address.lastname }}</strong> <br />
                    {{ address.street }}, {{ address.city }} <br />
                    <abbr title="Phone">P:</abbr> {{ address.phone|default('<span class="label">Not specified</span>')|raw }}
                </address>
            </td>
        <tr>
    </tbody>
</table>
{% endblock %}
