<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{{ 'title.frontend'|trans({}, 'SandboxCoreBundle') }}{% endblock %}</title>
        <meta charset="UTF-8">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
        {% stylesheets output='assets/compiled/frontend.css'
            '@SandboxCoreBundle/Resources/public/bootstrap/docs/assets/css/bootstrap.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets output='assets/compiled/frontend.less'
            '@SandboxCoreBundle/Resources/public/less/frontend.less'
        %}
            <link rel="stylesheet/less" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% javascripts output='assets/compiled/frontend.js'
            'http://code.jquery.com/jquery.min.js'
            '@SandboxCoreBundle/Resources/public/bootstrap/js/*.js'
            '@SandboxCoreBundle/Resources/public/js/less-1.1.5.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="http://sylius.org">Sylius</a>
                    {{ knp_menu_render('SandboxCoreBundle:Builder:frontendMainMenu', {'template': 'SandboxCoreBundle:Menu:main.html.twig', 'currentClass': 'active'}) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="span12">
                <div class="row">
                    <div id="sidebar" class="span3">
                        {% block sidebar %}
                            {% include 'SandboxCoreBundle:Frontend:sidebar.html.twig' %}
                        {% endblock %}
                        <hr />
                        <footer>
                            <p>&copy; <a href="http://sylius.org">Sylius</a>, 2011 - 2012.</p>
                        </footer>
                    </div>
                    <div id="content" class="span9 boxy">
                        {% block content %}   {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
