<h3>My cart.</h3>

<strong>{{ sylius_cart_get().totalItems }}</strong> items, <strong>{{ sylius_cart_get().value }}</strong> &euro;...
<br /><br />
<a href="{{ path('sylius_cart_show') }}" class="btn btn-primary">My cart <i class="icon-shopping-cart icon-white"></i></a>
<hr />
{% render 'sylius_catalog.controller.frontend.category:listAction' with {'catalogAlias': 'assortment'} %}
{% render 'sylius_catalog.controller.frontend.category:listAction' with {'catalogAlias': 'blog'} %}
<hr />
<ul id="sidebar-nav" class="nav nav-list well">
{% if is_granted('ROLE_SYLIUS_ADMIN') %}
<li><a href="{{ path('sylius_guard_security_logout') }}"><i class="icon-off"></i> Logout</a></li>
<li><a href="{{ path('sylius_sandbox_core_backend') }}"><i class="icon-cog"></i> Administration &raquo;</a></li>
{% else %}
<li><a href="{{ path('sylius_guard_security_login') }}"><i class="icon-user"></i> Login &raquo;</a></li>
{% endif %}
</ul>
