{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Updating post.<small> Use this form to modify existing post...</small></h1>
</div>

<form action="{{ path('sylius_blogger_backend_post_update', {'id': post.id}) }}" method="post" class="form-horizontal">
<fieldset>
    {{ form_row(form.title, {'attr': {'class': 'span7'}}) }}
    {{ form_row(form.author, {'attr': {'class': 'span4'}}) }}
    {{ form_row(form.content, {'attr': {'class': 'span9', 'rows': 10}}) }}
    {{ form_row(form.published) }}
    {{ form_row(form.categories, {'attr': {'class': 'span3'}}) }}
</fieldset>
    {{ form_rest(form) }}
    <div class="form-actions">
    <input type="submit" class="btn btn-large btn-primary" value="save changes">
    </div>
</form>
{% endblock %}
