{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Updating post.<small> Use this form to modify existing post...</small></h1>
</div>

<form action="{{ path('sylius_blogger_backend_post_update', {'id': post.id}) }}" method="post">

<fieldset>
    <div class="clearfix">
    <label for="sylius_blogger_post_title">Title...</label>
    <div class="input">
        {{ form_widget(form.title, {'attr': {'class': 'span7'}}) }}
    </div>
    </div>
    <div class="clearfix">
    <label for="form[author]">Author...</label>
    <div class="input">
        {{ form_widget(form.author, {'attr': {'class': 'span7'}}) }}
    </div>
    </div>
    <div class="clearfix">
    <label for="form[content]">Content...</label>
    <div class="input">
        {{ form_widget(form.content, {'attr': {'class': 'span12', 'rows': 10}}) }}
    </div>
    </div>
    <div class="clearfix">
    <label for="form[categories]">Post categories...</label>
    <div class="input">
        {{ form_widget(form.categories) }}
    </div>
    </div>
</fieldset>
{{ form_rest(form) }}

<div class="actions">
<input type="submit" class="btn large primary" value="save changes">
</div>

</form>

{% endblock %}
