{% extends 'SyliusSandboxBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>General settings <small>General store configuration</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_sandbox_backend_settings_general_configure') }}" method="post" class="form-horizontal" novalidate>
    {{ form_errors(form) }}
    {{ form_row(form.siteName, {'attr': {'class': 'input-xlarge'}}) }}
    {{ form_row(form.siteUrl, {'attr': {'class': 'input-large'}}) }}
    <hr />
    {{ form_row(form.defaultMetaTitle, {'attr': {'class': 'input-xlarge'}}) }}
    {{ form_row(form.defaultMetaKeywords, {'attr': {'class': 'input-xlarge'}}) }}
    {{ form_row(form.defaultMetaDescription, {'attr': {'class': 'input-xxlarge'}}) }}
    {{ form_rest(form) }}
    <div class="form-actions">
       <input type="submit" value="save" class="btn btn-large btn-primary" />
       &nbsp;
       <input type="reset" value="cancel" class="btn btn-large" />
    </div>
</form>
{% endblock %}
