{% extends 'ApplicationCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header"> 
    <h1>Theme manager.<small> Use this page to install and manage your themes.</small></h1> 
</div>

{% if themes %}

<table>
    <thead>
        <tr>
            <th>#id</th>
            <th>name</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
    {% for theme in themes %}
        <tr>
            <td>{{ theme.id }}</td>
            <td>{{ theme.name }}</td>
            <td>
                <div class="pull-right">
                <a href="{{ path('sylius_theming_backend_theme_activate', {'id': theme.id}) }}" class="btn primary">activate</a>
                <a href="{{ path('sylius_theming_backend_theme_show', {'id': theme.id}) }}" class="btn">details</a>              
                {% if theme.enabled %}
                    <a href="{{ path('sylius_theming_backend_theme_disable', {'id': theme.id}) }}" class="btn">disable</a>
                {% else %}
                    <a href="{{ path('sylius_theming_backend_theme_enable', {'id': theme.id}) }}" class="btn">enable</a>
                {% endif %}
                <a href="{{ path('sylius_theming_backend_theme_uninstall', {'id': theme.id}) }}"class="btn danger">uninstall</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
    <div class="alert-message info">
      <p><strong>Information.</strong> No installed themes.</p>
    </div>
{% endif %}

<hr />
{% if packs %}

<table>
    <thead>
        <tr>
            <th>name</th>
            <th>options</th>
        </tr>
    </thead>
    
    <tbody>
    {% for pack in packs %}
        <tr>
            <td>{{ pack.name }}</td>
            <td>
                <a href="{{ path('sylius_theming_backend_theme_install', {'path': pack.encodedPath}) }}" class="btn success">install</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
    <div class="alert-message info">
      <p><strong>Info!</strong> No theme packs to install.</p>
    </div>
{% endif %}
    
{% endblock %}
