{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Creating address. <small>Use this form to add new address.</small></h1>
</div>

<form action="{{ path('sylius_addressing_backend_address_create') }}" method="post">

<fieldset>
    <div class="formErrors">
        {{ form_errors(form.name) }}
    </div>
    <div class="clearfix">
    {{ form_label(form.name, 'Name...') }}
    <div class="input">
        {{ form_widget(form.name, {'attr': {'class': 'span5'}}) }}
    </div>
    </div>
    <div class="formErrors">
        {{ form_errors(form.surname) }}
    </div>
    <div class="clearfix">
    {{ form_label(form.name, 'Surname...') }}
    <div class="input">
        {{ form_widget(form.surname, {'attr': {'class': 'span5'}}) }}
    </div>
    </div>
    <div class="formErrors">
        {{ form_errors(form.city) }}
    </div>
    <div class="clearfix">
    {{ form_label(form.name, 'City...') }}
    <div class="input">
        {{ form_widget(form.city, {'attr': {'class': 'span5'}}) }}
    </div>
    </div>
    <div class="formErrors">
        {{ form_errors(form.street) }}
    </div>
    <div class="clearfix">
    {{ form_label(form.name, 'Street...') }}
    <div class="input">
        {{ form_widget(form.street, {'attr': {'class': 'span5'}}) }}
    </div>
    </div>
    <div class="formErrors">
        {{ form_errors(form.postcode) }}
    </div>
    <div class="clearfix">
    {{ form_label(form.name, 'Postcode...') }}
    <div class="input">
        {{ form_widget(form.postcode, {'attr': {'class': 'span2'}}) }}
    </div>
    </div>
    <div class="formErrors">
        {{ form_errors(form.email) }}
    </div>
    <div class="clearfix">
    {{ form_label(form.email, 'E-mail...') }}
    <div class="input">
        {{ form_widget(form.email, {'attr': {'class': 'span4'}}) }}
    </div>
    </div>
    <div class="formErrors">
        {{ form_errors(form.phone) }}
    </div>
    <div class="clearfix">
    {{ form_label(form.phone, 'Phone number...') }}
    <div class="input">
        {{ form_widget(form.phone, {'attr': {'class': 'span4'}}) }}
    </div>
    </div>
</fieldset>

{{ form_rest(form) }}

<div class="actions">
<input type="submit" value="create address" class="btn primary large" />
</div>

</form>

{% endblock %}
