{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Address details</h1>
{% endblock %}

{% block content %}
<div class="well">
    <a href="{{ path('sylius_addressing_backend_address_update', {'id': address.id}) }}" class="btn">
        <i class="icon-pencil"></i> {{ 'update'|trans({}, 'SandboxCoreBundle') }}
    </a>
    <a href="{{ path('sylius_addressing_backend_address_delete', {'id': address.id}) }}"  class="btn btn-danger confirmer"
        data-confirmer-question="{{ 'confirmer.q.address.delete'|trans({}, 'SandboxCoreBundle') }}"
    >
        <i class="icon-remove icon-white"></i> {{ 'delete'|trans({}, 'SandboxCoreBundle') }}
    </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>city</th>
            <th>street</th>
            <th>postcode</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ address.id }}</td>
            <td>{{ address.firstname }}</td>
            <td>{{ address.lastname }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.street }}</td>
            <td>{{ address.postcode }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
