{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Address update. <small>Use this form to edit existing address.</small></h1>
</div>

<form action="{{ path('sylius_addressing_backend_address_update', {'id': address.id}) }}" method="post" class="form-horizontal">
<fieldset>
    {{ form_errors(form.name) }}
    <div class="control-group">
    {{ form_label(form.name, 'Name...') }}
    <div class="controls">
        {{ form_widget(form.name, {'attr': {'class': 'span4'}}) }}
    </div>
    </div>
    {{ form_errors(form.surname) }}
    <div class="control-group">
    {{ form_label(form.name, 'Surname...') }}
    <div class="controls">
        {{ form_widget(form.surname, {'attr': {'class': 'span4'}}) }}
    </div>
    </div>
    {{ form_errors(form.city) }}
    <div class="control-group">
    {{ form_label(form.name, 'City...') }}
    <div class="controls">
        {{ form_widget(form.city, {'attr': {'class': 'span4'}}) }}
    </div>
    </div>
    {{ form_errors(form.street) }}
    <div class="control-group">
    {{ form_label(form.name, 'Street...') }}
    <div class="controls">
        {{ form_widget(form.street, {'attr': {'class': 'span4'}}) }}
    </div>
    </div>
    {{ form_errors(form.postcode) }}
    <div class="control-group">
    {{ form_label(form.name, 'Postcode...') }}
    <div class="controls">
        {{ form_widget(form.postcode, {'attr': {'class': 'span2'}}) }}
    </div>
    </div>
    {{ form_errors(form.email) }}
    <div class="control-group">
    {{ form_label(form.email, 'E-mail...') }}
    <div class="controls">
        {{ form_widget(form.email, {'attr': {'class': 'span4'}}) }}
    </div>
    </div>
    {{ form_errors(form.phone) }}
    <div class="control-group">
    {{ form_label(form.phone, 'Phone number...') }}
    <div class="controls">
        {{ form_widget(form.phone, {'attr': {'class': 'span4'}}) }}
    </div>
    </div>
</fieldset>
    {{ form_rest(form) }}
    <div class="form-actions">
       <input type="submit" value="save changes" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
