{% macro list(products) %}
{% if products|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>#id</th>
            <th>photo</th>
            <th>SKU</th>
            <th>name</th>
            <th>updated at</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>
                <a href="{{ path('sylius_sandbox_backend_product_show', {'id': product.id}) }}" class="thumbnail">
                    <img src="{{ product.imageWebPath is empty ? 'http://placehold.it/90x60' : product.imageWebPath|apply_filter('backend_mini') }}" alt="product photo" />
                </a>
            </td>
            <td>{{ product.sku }}</td>
            <td>
                {{ product.name }} <br />
                &bullet; in category <a href="{{ path('sylius_categorizer_backend_category_show', {'alias': 'assortment', 'id': product.category.id})}}"><strong>{{ product.category.name }}</strong></a>
            </td>
            <td>{{ product.updatedAt|date }}</td>
            <td>
                {% if not product.deleted %}
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a href="{{ path('sylius_sandbox_backend_product_show', {'id': product.id}) }}" class="btn">
                           <i class="icon-book"></i> {{ 'show'|trans({}, 'SandboxCoreBundle') }}
                        </a>
                        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                            <a href="{{ path('sylius_sandbox_backend_product_update', {'id': product.id}) }}">
                               <i class="icon-pencil"></i> {{ 'update'|trans({}, 'SandboxCoreBundle') }}
                            </a>
                            </li>
                            <li>
                            <a href="{{ path('sylius_sandbox_backend_product_duplicate', {'id': product.id}) }}">
                               <i class="icon-plus-sign"></i> {{ 'duplicate'|trans({}, 'SandboxCoreBundle') }}
                            </a>
                            </li>
                            <li>
                            <a href="{{ path('sylius_sandbox_backend_product_delete', {'id': product.id}) }}" class="confirmer"
                                data-confirmer-question="{{ 'confirmer.q.product.delete'|trans({}, 'SandboxCoreBundle') }}"
                            >
                                <i class="icon-remove icon-trash"></i> {{ 'delete'|trans({}, 'SandboxCoreBundle') }}
                            </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a href="{# path('sylius_sandbox_backend_variant_list', {'productId': product.id}) #}" class="btn">
                           <i class="icon-book"></i> list variants
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="pull-right">
                    <span class="label label-important label-padded">
                        <i class="icon-trash icon-white"></i> deleted
                    </span>
                </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'SandboxCoreBundle') }}.</h4>
    There are no products to display.
</div>
{% endif %}
{% endmacro %}
