<div class="well">
    <h2>{{ post.title }}</h2>
    <p>Posted at {{ post.createdAt|date('Y-m-d H:i:s') }} by <strong>{{ post.author }}</strong>.</p>
    <p>{{ post.content }}</p>
    <hr />
    <a href="{{ path('sylius_sandbox_post_show', {'slug': post.slug}) }}" class="btn span3" style="float: none;">read</a>
</div>