{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ "header.user.create"|trans({}, 'SyliusGuardBundle') }}</h1>
</div>

<form action="{{ path('sylius_guard_backend_user_create') }}" method="post" class="form-horizontal">
<fieldset>
    {{ form_errors(form.plainPassword) }}
    <div class="control-group">
    {{ form_label(form.plainPassword, "label.user.password" | trans({}, 'SyliusGuardBundle')) }}
    <div class="controls">
        {{ form_widget(form.plainPassword, {'attr': {'class': 'span5'}}) }}
    </div>
    </div>
    {{ form_errors(form.email) }}
    <div class="control-group">
    {{ form_label(form.email, "label.user.email" | trans({}, 'SyliusGuardBundle')) }}
    <div class="controls">
    {{ form_widget(form.email, {'attr': {'class': 'span5'}}) }}
    </div>
    </div>
    {{ form_errors(form.enabled) }}
    <div class="control-group">
    {{ form_label(form.enabled, "label.user.enabled" | trans({}, 'SyliusGuardBundle')) }}
    <div class="controls">
    {{ form_widget(form.enabled) }}
    </div>
    </div>
    {{ form_errors(form.groups) }}
    <div class="control-group">
    {{ form_label(form.groups, "label.user.groups" | trans({}, 'SyliusGuardBundle')) }}
    <div class="controls">
    {{ form_widget(form.groups, {'attr': {'class': 'span5'}}) }}
    </div>
    </div>
</fieldset>
    {{ form_rest(form) }}
<div class="form-actions">
    <input type="submit" value="{{ "user.create" | trans({}, 'SyliusGuardBundle') }}" class="btn btn-primary btn-large" />
</div>
</form>
{% endblock %}
