{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ "header.user.list" | trans({}, 'SyliusGuardBundle') | raw }}</h1>
</div>

<div class="well">
<a href="{{ path('sylius_guard_backend_user_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> {{ "user.create" | trans({}, 'SyliusGuardBundle') | lower }}
</a>
<a href="{{ path('sylius_guard_backend_group_list') }}" class="btn">
    <i class="icon-user"></i> {{ "group.list" | trans({}, 'SyliusGuardBundle') | lower }}
</a>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

<ul class="nav nav-tabs">
    <li><a href="{{ path('sylius_guard_backend_user_list') }}">{{ "filter.user.all" | trans({}, 'SyliusGuardBundle') }}</a></li>
    <li><a href="{{ path('sylius_guard_backend_user_list', {'filters': {'enabled': [true, '=']}}) }}">{{ "filter.user.enabled" | trans({}, 'SyliusGuardBundle') }}</a></li>
    <li><a href="{{ path('sylius_guard_backend_user_list', {'filters': {'enabled': [false, '=']}}) }}">
        <i class="icon-lock"></i> {{ "filter.user.disabled" | trans({}, 'SyliusGuardBundle') }}</a>
    </li>
</ul>

{% if users|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th><a href="{{ path('sylius_guard_backend_user_list', {'sort': 'id', 'order': sorter.order, 'filters': filter.current}) }}">#id</a></th>
            <th><a href="{{ path('sylius_guard_backend_user_list', {'sort': 'email', 'order': sorter.order, 'filters': filter.current}) }}">{{ "label.user.email" | trans({}, 'SyliusGuardBundle') | lower }}</a></th>
            <th><a href="{{ path('sylius_guard_backend_user_list', {'sort': 'enabled', 'order': sorter.order, 'filters': filter.current}) }}">{{ "label.user.enabled" | trans({}, 'SyliusGuardBundle') | lower }}</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>
                {% if user.enabled %}
                    <span class="label label-success">yes</span>
                {% else %}
                    <span class="label label-important">no</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_guard_backend_user_show', {'id': user.id}) }}" class="btn">{{ "show" | trans({}, 'SyliusGuardBundle') }}</a>
                    <a href="{{ path('sylius_guard_backend_user_update', {'id': user.id}) }}" class="btn">{{ "update" | trans({}, 'SyliusGuardBundle') }}</a>
                    <a href="{{ path('sylius_guard_backend_user_delete', {'id': user.id}) }}" class="btn btn-danger">{{ "delete" | trans({}, 'SyliusGuardBundle') }}</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'SandboxCoreBundle') }}.</h4>
    There are no users to display.
</div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
