{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>{{ "header.user.show" | trans({}, 'SyliusGuardBundle') }}</h1>
</div>

<div class="well">
    <a href="{{ path('sylius_guard_backend_user_update', {'id': user.id}) }}" class="btn">{{ "update" | trans({}, 'SyliusGuardBundle') }}</a>
    <a href="{{ path('sylius_guard_backend_user_delete', {'id': user.id}) }}" class="btn danger">{{ "delete" | trans({}, 'SyliusGuardBundle') }}</a>
</div>

<table>
    <thead>
        <tr>
            <th>#id</th>
            <th>{{ "label.user.username" | trans({}, 'SyliusGuardBundle') | lower }}</th>
            <th>{{ "label.user.enabled" | trans({}, 'SyliusGuardBundle') | lower }}</th>
            <th>{{ "label.user.email" | trans({}, 'SyliusGuardBundle') | lower }}</th>
            <th>{{ "label.user.groups" | trans({}, 'SyliusGuardBundle') | lower }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>
            {% if user.enabled %}
            <span class="label success">+</span>
            {% else %}
            <span class="label important">&nbsp;-&nbsp;</span>
            {% endif %}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>
                <ul>
                {% for group in user.groups %}
                    <li>{{ group.name }}</li>
                {% else %}
                    <li>{{ "list.group.empty" | trans({}, 'SyliusGuardBundle') | lower }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>

{% endblock content %}
