{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Details.</h1>
</div>

<div class="well">
<a href="{{ path('sylius_newsletter_backend_newsletter_send', {'id': newsletter.id}) }}" class="btn success">send</a>
<a href="{{ path('sylius_newsletter_backend_newsletter_update', {'id': newsletter.id}) }}" class="btn">update</a>
<a href="{{ path('sylius_newsletter_backend_newsletter_delete', {'id': newsletter.id}) }}" class="btn danger">delete</a>
</div>

<table>
    <thead>
        <tr>
            <th>#id</th>
            <th>title</th>
            <th>was sent?</th>
            <th>creation time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ newsletter.id }}</td>
            <td>{{ newsletter.title }}</td>
            <td>
                {% if newsletter.sent %}
                    <span class="label success">yes</span>
                {% else %}
                    <span class="label important">no</span>
                {% endif %}
            </td>
            <td>{{ newsletter.createdAt|date('d.m.Y H:i:s') }}</td>
    </tbody>
</table>

<h2>Content.</h2>
{{ newsletter.content|markdown }}

{% endblock content %}
