<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Sylius administration.{% endblock %}</title>
        <meta charset="UTF-8">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
        {% stylesheets output='assets/compiled/backend.css'
            '@SandboxCoreBundle/Resources/public/bootstrap/docs/assets/css/bootstrap.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets output='assets/compiled/backend.less'
            '@SandboxCoreBundle/Resources/public/less/backend.less'
        %}
            <link rel="stylesheet/less" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% javascripts output='assets/compiled/backend.js'
            'http://code.jquery.com/jquery.min.js'
            '@SandboxCoreBundle/Resources/public/bootstrap/js/bootstrap-dropdown.js'
            '@SandboxCoreBundle/Resources/public/bootstrap/js/bootstrap-modal.js'
            '@SandboxCoreBundle/Resources/public/bootstrap/js/bootstrap-tab.js'
            '@SandboxCoreBundle/Resources/public/bootstrap/js/bootstrap-alert.js'
            '@SandboxCoreBundle/Resources/public/bootstrap/js/bootstrap-button.js'
            '@SandboxCoreBundle/Resources/public/js/less-1.1.5.min.js'
            '@SandboxCoreBundle/Resources/public/js/backend.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="confirmer-modal" class="modal hide fade">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>{{ 'confirmer.header'|trans({}, 'SandboxCoreBundle') }}</h3>
            </div>
            <div class="modal-body">
                <p class="confirmer-modal-question">{{ 'confirmer.question'|trans({}, 'SandboxCoreBundle') }}</p>
            </div>
            <div class="modal-footer">
                <a class="confirmer-modal-confirm btn btn-primary">{{ 'yes'|trans({}, 'SandboxCoreBundle') }}</a>
                <a class="btn" data-dismiss="modal">{{ 'cancel'|trans({}, 'SandboxCoreBundle') }}</a>
            </div>
        </div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="http://sylius.org">Sylius</a>
                    {{ knp_menu_render('SandboxCoreBundle:Builder:backendMainMenu', {'template': 'SandboxCoreBundle:Menu:main.html.twig', 'currentClass': 'active'}) }}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="sidebar" class="span2">
                    <div class="sidebar-nav well">
                    {% block sidebar %}
                        {{ knp_menu_render('SandboxCoreBundle:Builder:backendSidebarMenu', {'template': 'SandboxCoreBundle:Menu:sidebar.html.twig', 'currentClass': 'active'}) }}
                    {% endblock %}
                    </div>
                </div>
                <div id="content" class="span10">
                    <div id="content-inner">
                    <div class="page-header">
                        {% block header %}<h1>Welcome<small> Sylius dashboard</small></h1>{% endblock %}
                    </div>
                        {% for name, value in app.session.flashes if name in ['success', 'error'] %}
                        <div class="alert alert-{{ name }}">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            {{ value|trans }}
                        </div>
                        {% endfor %}
                        {% block content %}
                        {% endblock %}
                    </div>
                    <hr>
                    <footer>
                        <p>&copy; <a href="http://Sylius.org">Sylius.org</a>, 2011 - 2012.</p>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
