<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{{ "title.backend" | trans({}, 'SandboxCoreBundle') }}{% endblock %}</title>

        <meta charset="UTF-8">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet/less" href="{{ asset('assets/less/bootstrap.less') }}">
        <link rel="stylesheet/less" href="{{ asset('assets/less/backend.less') }}">

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
        <script type="text/javascript" src="{{ asset('assets/js/backend.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/bootstrap-dropdown.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/bootstrap-modal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/less-1.1.5.min.js') }}"></script>
    </head>
    <body>
        <div id="confirmer-modal" class="modal hide fade" style="display: block;">
            <div class="modal-header">
                <a href="#" class="close">×</a>
                <h3>{{ "confirmation-box.title" | trans({}, 'SandboxCoreBundle') }}</h3>
            </div>
            <div class="modal-body">
                <p class="confirmer-modal-question">{{ "confirmation-box.question" | trans({}, 'SandboxCoreBundle') }}</p>
            </div>
            <div class="modal-footer">
                <a class="confirmer-modal-confirm btn primary">{{ "confirmation-box.confirm" | trans({}, 'SandboxCoreBundle') }}</a>
                <a class="confirmer-modal-cancel btn">{{ "confirmation-box.cancel" | trans({}, 'SandboxCoreBundle') }}</a>
            </div>
        </div>
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container-fluid">
                    <ul class="nav">
                        <a class="brand" href="http://sylius.org">Sylius</a>
                        <li class="active"><a href="{{ path('sylius_sandbox_core_backend') }}">{{ "menu.dashboard" | trans({}, 'SandboxCoreBundle') }}</a></li>
                        <li class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle">{{ "menu.assortment" | trans({}, 'SandboxCoreBundle') }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('sylius_categorizer_backend_category_create', {'alias': 'assortment'}) }}">Create category</a></li>
                            <li><a href="{{ path('sylius_categorizer_backend_category_list', {'alias': 'assortment'}) }}">List categories</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('sylius_assortment_backend_product_create') }}">Create product</a></li>
                            <li><a href="{{ path('sylius_assortment_backend_product_list') }}">List products</a></li>
                        </ul>
                        </li>
                        <li><a href="{{ path('sylius_sales_backend_order_list') }}">{{ "menu.sales" | trans({}, 'SandboxCoreBundle') }}</a></li>
                        <li class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle">{{ "menu.blog" | trans({}, 'SandboxCoreBundle') }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('sylius_categorizer_backend_category_create', {'alias': 'blog'}) }}">Create category</a></li>
                            <li><a href="{{ path('sylius_categorizer_backend_category_list', {'alias': 'blog'}) }}">List categories</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('sylius_blogger_backend_post_create') }}">Create post</a></li>
                            <li><a href="{{ path('sylius_blogger_backend_post_list') }}">List posts</a></li>
                        </ul>
                        </li>
                        <li class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle">{{ "menu.newsletter" | trans({}, 'SandboxCoreBundle') }}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('sylius_newsletter_backend_subscriber_create') }}">Create subscriber</a></li>
                                <li><a href="{{ path('sylius_newsletter_backend_subscriber_list') }}">List subscribers</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('sylius_newsletter_backend_newsletter_create') }}">Create newsletter</a></li>
                                <li><a href="{{ path('sylius_newsletter_backend_newsletter_list') }}">List newsletters</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle">{{ "menu.addressing" | trans({}, 'SandboxCoreBundle') }}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('sylius_addressing_backend_address_create') }}">Create address</a></li>
                                <li><a href="{{ path('sylius_addressing_backend_address_list') }}">Addresses list</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle">{{ "menu.guard" | trans({}, 'SandboxCoreBundle') }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('sylius_guard_backend_user_create') }}">{{ "user.create" | trans({}, 'SyliusGuardBundle') }}</a></li>
                            <li><a href="{{ path('sylius_guard_backend_user_list') }}">{{ "user.list" | trans({}, 'SyliusGuardBundle') }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('sylius_guard_backend_group_create') }}">{{ "group.create" | trans({}, 'SyliusGuardBundle') }}</a></li>
                            <li><a href="{{ path('sylius_guard_backend_group_list') }}">{{ "group.list" | trans({}, 'SyliusGuardBundle') }}</a></li>
                        </ul>
                        </li>
                        <li><a href="{{ path('sylius_theming_backend_theme_list') }}">{{ "menu.theming" | trans({}, 'SandboxCoreBundle') }}</a></li>
                        <li><a href="{{ path('sylius_plugins_backend_plugin_list') }}">{{ "menu.plugins" | trans({}, 'SandboxCoreBundle') }}</a></li>
                        <li><a href="{{ path('sylius_sandbox_core_frontend') }}">{{ "menu.frontend" | trans({}, 'SandboxCoreBundle') | raw }}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="sidebar">
                {% block sidebar %}
                    <ul>
                        <li class="header">{{ "sidebar.menu.assortment" | trans({}, 'SandboxCoreBundle') }}</li>
                            <li><a href="{{ path('sylius_categorizer_backend_category_create', {'alias': 'assortment'}) }}">Create category</a></li>
                            <li><a href="{{ path('sylius_categorizer_backend_category_list', {'alias': 'assortment'}) }}">List categories</a></li>
                            <li><a href="{{ path('sylius_assortment_backend_product_create') }}">Create product</a></li>
                            <li><a href="{{ path('sylius_assortment_backend_product_list') }}">List products</a></li>
                        <li class="header">{{ "sidebar.menu.sales" | trans({}, 'SandboxCoreBundle') }}</li>
                            <li><a href="{{ path('sylius_sales_backend_order_list') }}">List orders</a></li>
                        <li class="header">{{ "sidebar.menu.blog" | trans({}, 'SandboxCoreBundle') }}</li>
                            <li><a href="{{ path('sylius_categorizer_backend_category_create', {'alias': 'blog'}) }}">Create category</a></li>
                            <li><a href="{{ path('sylius_categorizer_backend_category_list', {'alias': 'blog'}) }}">List categories</a></li>
                            <li><a href="{{ path('sylius_blogger_backend_post_create') }}">Create post</a></li>
                            <li><a href="{{ path('sylius_blogger_backend_post_list') }}">List posts</a></li>
                        <li class="header">{{ "sidebar.menu.newsletter" | trans({}, 'SandboxCoreBundle') }}</li>
                            <li><a href="{{ path('sylius_newsletter_backend_subscriber_create') }}">Create subscriber</a></li>
                            <li><a href="{{ path('sylius_newsletter_backend_subscriber_list') }}">List subscribers</a></li>
                            <li><a href="{{ path('sylius_newsletter_backend_newsletter_create') }}">Create newsletter</a></li>
                            <li><a href="{{ path('sylius_newsletter_backend_newsletter_list') }}">List newsletters</a></li>
                        <li class="header">{{ "sidebar.menu.addressing" | trans({}, 'SandboxCoreBundle') }}</li>
                            <li><a href="{{ path('sylius_addressing_backend_address_create') }}">Create address</a></li>
                            <li><a href="{{ path('sylius_addressing_backend_address_list') }}">Addresses list</a></li>
                        <li class="header">{{ "sidebar.menu.guard" | trans({}, 'SandboxCoreBundle') }}</li>
                            <li><a href="{{ path('sylius_guard_backend_user_create') }}">Create user</a></li>
                            <li><a href="{{ path('sylius_guard_backend_user_list') }}">List users</a></li>
                            <li><a href="{{ path('sylius_guard_backend_group_create') }}">Create group</a></li>
                            <li><a href="{{ path('sylius_guard_backend_group_list') }}">List group</a></li>
                        <li class="header">{{ "sidebar.menu.customization" | trans({}, 'SandboxCoreBundle') }}</li>
                            <li><a href="{{ path('sylius_theming_backend_theme_list') }}">Themes manager</a></li>
                            <li><a href="{{ path('sylius_plugins_backend_plugin_list') }}">Plugins manager</a></li>
                        <li class="header">{{ "sidebar.menu.administration" | trans({}, 'SandboxCoreBundle') }}</li>
                            <li><a href="{{ path('sylius_guard_security_logout') }}" class="last">Logout...</a></li>
                    </ul>
                {% endblock %}
            </div>
            <div class="content">
                {% block content %}    {% endblock %}
                <footer>
                    <p><strong>&copy;</strong> <a href="http://sylius.org">Sylius</a>, 2011.</p>
                </footer>
            </div>
        </div>
    </body>
</html>
