<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Sylius installer setup.{% endblock %}</title>

        <meta charset="UTF-8">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet/less" href="{{ asset('assets/less/bootstrap.less') }}">
        <link rel="stylesheet/less" href="{{ asset('assets/less/installer.less') }}">

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
        <script type="text/javascript" src="{{ asset('assets/js/bootstrap-dropdown.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/bootstrap-modal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/less-1.1.5.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/installer.js') }}"></script>
    </head>
    <body> 
        <div class="container"> 
        <div class="topbar-wrapper" style="z-index: 5;">
            <div class="topbar" data-dropdown="dropdown">
                <div class="topbar-inner">
                    <div class="container">
                        <ul class="nav"> 
                            <a class="brand" href="http://sylius.org">Sylius</a>
                            <li class="dropdown" data-dropdown="dropdown">
                                <a href="#" class="dropdown-toggle">Help</a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://sylius.org/docs">Documentation</a></li>
                                    <li><a href="http://groups.google.com/group/sylius">Mailing list</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><!-- /topbar-inner -->
            </div><!-- /topbar -->
          </div>
        <div class="content"> 
            {% block content %}   {% endblock %}
        </div> 
            <footer> 
                <p>&copy; <a href="http://sylius.org">Sylius</a>, 2011. Sandbox version... <strong>0.0.4</strong>.</p> 
            </footer> 
        </div>
    </body> 
</html>
