{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% set form = sylius_cart_form({'product': product}) %}

{% block content %}
<div class="page-header">
<h1>
    Product details page
</h1>
</div>

<div class="row product-container well">
    <div class="span3 photo-container">
        <a class="thumbnail">
            <img src="{{ product.imageWebPath is empty ? 'http://placehold.it/280x180' : product.imageWebPath|apply_filter('frontend_medium') }}" alt="product photo" />
        </a>
    </div>
    <div class="span5">
        {% if not product.varied %}
            <span class="label label-price label-success pull-right"><strong>Price</strong>: {{ product.price }} &euro;</span>
        {% endif %}
        <h3>{{ product.name }}</h3>
        <p>
            {{ product.description|markdown }}
        </p>
    </div>
    <div class="span4">
        {% if product.properties|length > 0 %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="2">properties</th>
                </tr>
            </thead>
            <tbody>
                {% for property in product.properties %}
                <tr>
                    <td>{{ property.presentation }}</td>
                    <td>{{ property.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix">
    {% if product.varied %}
        {% if product.isVariantPickingModeChoice %}
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for variant in product.variants if variant.available %}
                <tr>
                    <td>
                        {% if variant.presentation is empty %}
                        <ul class="unstyled">
                            {% for option in variant.options %}
                            <li><strong>{{ option.presentation }}</strong>: {{ option.value }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            {{ variant.presentation }}
                        {% endif %}
                    </td>
                    <td>
                        <span class="label label-success">{{ variant.price }} &euro;</span>
                    </td>
                    <td>
                    {% if sylius_inventory_in_stock(variant) %}
                        {{ form_widget(form.variant[loop.index0]) }}
                    {% else %}
                        <span class="label label-important">out of stock</span>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="well">
            {{ form_widget(form.variant) }}
            Pick the product options that you're interested in from the menu.
            </div>
        {% endif %}
    {% endif %}
    <div class="pull-left">
        <hr />
        <ol>
            <li>This website is just demonstration of Sylius e-commerce engine.</li>
            <li>All products are examples.</li>
            <li>Orders placed via this shop won't be honored, they're not real.</li>
        </ol>
    </div>
    <div class="pull-right">
    {% if not product.varied and not sylius_inventory_in_stock(product.masterVariant) %}
        <br />
        <span class="label label-important center-text out-of-stock">out of stock</span>
    {% else %}
        {{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
        {{ form_widget(form._token) }}
        <input type="submit" class="btn btn-success btn-large span12" value="add to cart">
    {% endif %}
    </div>
</form>

<hr />
<div class="well">
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': product.commentThreadId} %}
</div>
<hr />
{% endblock %}
