{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% import 'SandboxAssortmentBundle:Backend/Product:macros.html.twig' as macros %}

{% block header %}
    <h1>Assortment category<small> List of all products in category <strong>{{ category.name }}</strong></small></h1>
{% endblock %}

{% block content %}
<div class="well">
    <a href="{{ path('sylius_assortment_backend_product_create') }}" class="btn btn-primary">
        <i class="icon-plus icon-white"></i> create product
    </a>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(products)  }}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
