{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
<h1>Reading blog post</h1>
</div>

<div class="well">
<h3>{{ post.title }}</h3>
<p>Posted at {{ post.createdAt|date('Y-m-d H:i:s') }} by <strong>{{ post.author }}</strong>.</p>
<hr />

    <ul class="nav nav-pills">
        {% for category in post.categories %}
            <li class="active">
            <a href="{{ path('sylius_categorizer_category_show', {'alias': 'blog', 'slug': category.slug}) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>

<hr />
{{ post.content|markdown }}
<hr />
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': post.commentThreadId} %}
</div>
{% endblock %}
