{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Creating category.<small> Use the form below to create a new assortment category...</small></h1>
</div>

<form action="{{ path('sylius_catalog_backend_category_create', {'catalogAlias': catalog.alias}) }}" method="post">

<fieldset>

<div class="clearfix">
<div class="formErrors">
{{ form_errors(form.name) }}
</div>
<label for="sylius_catalog_category[name]">Name...</label>
<div class="input">
    {{ form_widget(form.name, {'attr': {'class': 'span7'}}) }}
</div>
</div>
<div class="clearfix">
<label for="form[category]">Parent category...</label>
<div class="input">
    {{ form_widget(form.parent, {'empty_value': "choose category..."}) }}
</div>
</div>

</fieldset>

{{ form_rest(form) }}

<div class="actions">
<input type="submit" value="create category" class="btn primary large" />
</div>

</form>

{% endblock content %}
