<fieldset>
    {{ form_row(form.name, {'attr': {'class': 'span4'}}) }}
    {{ form_row(form.presentation, {'attr': {'class': 'span6'}}) }}
    <hr />
    <div id="sylius-assortment-option-values" data-prototype="{{ form_widget(form.values.vars.prototype)|e }}">
        {% for valueForm in form.values %}
            {{ form_widget(valueForm)  }}
        {% endfor %}
    </div>
    <div class="control-group">
        <div class="controls">
            <a id="sylius-assortment-option-values-adder" class="btn btn-success">add value</a>
        </div>
    </div>
</fieldset>
    {{ form_widget(form._token) }}
