{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Product options<small> List of all created option types</small></h1>
{% endblock %}

{% block content %}
<div class="well">
<a href="{{ path('sylius_assortment_backend_option_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> create option
</a>
</div>

{% if options|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>#id</th>
            <th>name</th>
            <th>values</th>
            <th>created at</th>
            <th>updated at</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for option in options %}
        <tr>
            <td>{{ option.id }}</td>
            <td>{{ option.name }}</td>
            <td>
                <ul>
                    {% for value in option.values %}
                    <li>{{ value }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ option.createdAt|date }}</td>
            <td>{{ option.updatedAt|date }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_assortment_backend_option_update', {'id': option.id}) }}" class="btn">
                       <i class="icon-pencil"></i> {{ 'update'|trans({}, 'SandboxCoreBundle') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_option_delete', {'id': option.id}) }}" class="btn btn-danger confirmer"
                        data-confirmer-question="{{ 'confirmer.q.option.delete'|trans({}, 'SandboxCoreBundle') }}"
                    >
                        <i class="icon-remove icon-white"></i> {{ 'delete'|trans({}, 'SandboxCoreBundle') }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'SandboxCoreBundle') }}.</h4>
    There are no options to display.
</div>
{% endif %}
{% endblock %}
