{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Updating option<small> Use the form below edit existing option</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_assortment_backend_option_update', {'id': option.id}) }}" method="post" class="form-horizontal" novalidate>
<fieldset>
    {{ form_row(form.name, {'attr': {'class': 'span4'}}) }}
    {{ form_row(form.presentation, {'attr': {'class': 'span6'}}) }}
    <hr />
    <div id="sylius-assortment-option-values" data-prototype="{{ form_widget(form.values.getVar('prototype'))|e }}">
        {% for valueForm in form.values %}
            {{ form_widget(valueForm)  }}
        {% endfor %}
    </div>
    <a id="sylius-assortment-option-values-adder" class="btn btn-success btn-large pull-right">add value</a>
</fieldset>
    {{ form_widget(form._token) }}
    <div class="form-actions">
       <input type="submit" value="save changes" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
