{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
<h1>
    {{ product.name }} <small> details</small>
    <code>Created at {{ product.createdAt|date('Y-m-d H:i:s') }}.</code>
</h1>
</div>

{{ product.description|markdown }}

<form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post">
    <div class="pull-right">
    <strong>Price</strong>: {{ product.price }} &euro;
    {% set form = sylius_cart_form() %}
    {{ form_widget(form.quantity, {'attr': {'class': 'span2 center-text'}, 'empty_value': '1'}) }}
    {{ form_rest(form) }}
    <input type="submit" class="btn btn-success btn-large" value="add to cart">
    </div>
</form>
{% endblock %}
