{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Creating variant<small> Use the form below to create a new product variant</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_assortment_backend_variant_create', {'productId': product.id}) }}" method="post" class="form-horizontal" novalidate>
<fieldset>
    {{ form_errors(form) }}
    {% if form.options is defined and form.options|length > 0 %}
        {% for optionForm in form.options %}
            {{ form_row(optionForm) }}
        {% endfor %}
    {% endif %}
    {{ form_row(form.sku) }}
    {{ form_row(form.presentation) }}
    {{ form_row(form.price) }}
</fieldset>
    {{ form_rest(form) }}
    <div class="form-actions">
       <input type="submit" value="create variant" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
