{% macro list(variants, product) %}
{% if variants|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>#id</th>
            <th>SKU</th>
            <th>availability</th>
            <th>updated at</th>
            <th>option set</th>
            <th>price</th>
            <th>stock "on hand"</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for variant in variants %}
        <tr>
            <td>{{ variant.id }}</td>
            <td>{{ variant.sku }}</td>
            <td>
                <span class="label label-{% if variant.available %}success{% else %}important{% endif %}">{{ variant.availableOn|date }}</span>
            </td>
            <td>{{ variant.updatedAt|date }}</td>
            <td>
                <ul>
                    {% for option in variant.options %}
                        <li><strong>{{ option.name }}</strong>: {{ option.value }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ variant.price }} &euro;</td>
            <td>
                <span class="badge badge-{{ variant.inStock ? 'success' : 'important' }}">{{ variant.onHand }}</span> available units.
            </td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_assortment_backend_variant_show', {'id': variant.id}) }}" class="btn">
                       <i class="icon-book"></i> {{ 'show'|trans({}, 'SandboxCoreBundle') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_variant_update', {'id': variant.id}) }}" class="btn">
                       <i class="icon-pencil"></i> {{ 'update'|trans({}, 'SandboxCoreBundle') }}
                    </a>
                    <a href="{{ path('sylius_assortment_backend_variant_delete', {'id': variant.id}) }}" class="btn btn-danger confirmer"
                        data-confirmer-question="{{ 'confirmer.q.variant.delete'|trans({}, 'SandboxCoreBundle') }}"
                    >
                        <i class="icon-remove icon-white"></i> {{ 'delete'|trans({}, 'SandboxCoreBundle') }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'SandboxCoreBundle') }}.</h4>
    There are no variants of this product.
</div>
{% endif %}
{% endmacro %}
