{% extends 'SyliusSandboxBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Address details <small>{{ address.fullName }}</small></h1>
{% endblock %}

{% block content %}
<div class="well well-small">
    <a href="{{ path('sylius_sandbox_backend_address_update', {'id': address.id}) }}" class="btn">
        <i class="icon-pencil icon-white"></i> edit
    </a>
    <a href="{{ path('sylius_sandbox_backend_address_delete', {'id': address.id}) }}" class="btn btn-danger">
        <i class="icon-trash icon-white"></i>
    </a>
    <a href="{{ path('sylius_sandbox_backend_address_create') }}" class="btn btn-primary">
        <i class="icon-plus icon-white"></i> new address
    </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#{{ address.id }} for {{ address.fullName }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <address class="code">
                    <hr>
                    <strong>{{ address.fullName}}</strong> <br />
                    {{ address.street }}, {{ address.city }} {{ address.postcode }}<br />
                    {{ address.country }}, {{ address.province|default('') }} <br />
                </address>
            </td>
        <tr>
    </tbody>
</table>
{% endblock %}
