{% extends 'SyliusSandboxBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
  <h1>Sylius <small>Recent products</small></h1>
</div>

<div class="alert alert-info">
This is demo of Sylius-Sandbox application, a testing ground for Sylius project. <a href="{{ path('sylius_sandbox_about') }}" style="text-decoration: underline;">Read more</a>
</div>

<hr />

<div class="product-grid">
    <div class="fluid-row" style="overflow: hidden;">
        {% for product in recentProducts %}

        <div class="span3 well well-small">
            <a href="{{ path('sylius_sandbox_product_show', {'slug': product.slug})}}" class="thumbnail" style="width: 130px; height: 75px;">
                <img src="{{ product.imageWebPath|apply_filter('frontend_box') }}" alt="" />
            </a>
            <hr />

                <h4>
                    <a href="{{ path('sylius_sandbox_product_show', {'slug': product.slug})}}">
                        {{ product.name|slice(0, 20) }}...
                    </a>
                </h4>

            <p>{{ product.description|slice(0, 50) }}...</p>
            <p><a href="{{ path('sylius_sandbox_product_show', {'slug': product.slug})}}" class="btn pull-right">Read more</a>
        </div>

        {% if loop.index % 4 == 0 %}
        </div>
        <div class="fluid-row">
        {% endif %}

        {% endfor %}
    </div>
</div>
{% endblock %}
