{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Order statuses management</h1>
{% endblock %}

{% block content %}
<div class="well">
<a href="{{ path('sylius_sales_backend_status_create') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> create new status
</a>
</div>

{% if statuses|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>#id</th>
            <th>name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for status in statuses %}
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.name }}</td>
            <td>
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        {% if loop.first %}
                        <a class="btn disabled">&uarr;</a>
                        {% else %}
                        <a href="{{ path('sylius_sales_backend_status_move_up', {'id': status.id}) }}" class="btn">&uarr;</a>
                        {% endif %}

                        {% if loop.last %}
                        <a class="btn disabled">&darr;</a>
                        {% else %}
                        <a href="{{ path('sylius_sales_backend_status_move_down', {'id': status.id}) }}" class="btn">&darr;</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        <a href="{{ path('sylius_sales_backend_status_update', {'id': status.id}) }}" class="btn">
                             <i class="icon-pencil"></i> update
                        </a>
                        <a href="{{ path('sylius_sales_backend_status_delete', {'id': status.id}) }}" class="btn btn-danger">
                             <i class="icon-remove icon-white"></i> delete
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'SandboxCoreBundle') }}.</h4>
    There are no order statuses to display.
</div>
{% endif %}
{% endblock %}
