<tr>
    <td>{{ category.id }}</td>
    <td>{% for i in 0..category.level %}&#8212;&#8212;&#8212;{% endfor %} - {{ category.name }}</td>
    <td>
        <div class="pull-right btn-toolbar">
            <div class="btn-group">
                {% if loop.first %}
                <a class="btn disabled"><i class="icon-arrow-up"></i></a>
                {% else %}
                <a title="Move up" href="{{ path('sylius_categorizer_backend_category_move_up', {'alias': catalog.alias, 'id': category.id}) }}" class="btn"><i class="icon-arrow-up"></i></a>
                {% endif %}

                {% if loop.last %}
                <a class="btn disabled"><i class="icon-arrow-down"></i></a>
                {% else %}
                <a title="Move down" href="{{ path('sylius_categorizer_backend_category_move_down', {'alias': catalog.alias, 'id': category.id}) }}" class="btn"><i class="icon-arrow-down"></i></a>
                {% endif %}
            </div>
            <div class="btn-group">
                <a href="{{ path('sylius_categorizer_backend_category_show', {'alias': catalog.alias, 'id': category.id}) }}" class="btn">
                    <i class="icon-list-alt"></i> list products
                </a>
                <a href="{{ path('sylius_categorizer_backend_category_update', {'alias': catalog.alias, 'id': category.id}) }}" class="btn">
                    <i class="icon-pencil"></i> edit
                </a>
                <a href="{{ path('sylius_categorizer_backend_category_delete', {'alias': catalog.alias, 'id': category.id}) }}" class="btn btn-danger confirmer"
                    data-confirmer-question="Do you really want to delete category <strong>{{ category.name }}</strong>?"
                >
                    <i class="icon-trash icon-white"></i>
                </a>
            </div>
        </div>
    </td>
</tr>
