{% macro list(variants, product) %}

{% from 'MopaBootstrapBundle::macros.html.twig' import label, badge %}

{% if variants|length > 0 %}
    <table class="table">
    <thead>
        <tr>
            <th>#id</th>
            <th>SKU</th>
            <th>availability</th>
            <th>updated at</th>
            <th>option set</th>
            <th>price</th>
            <th>stock "on hand"</th>
            <th>available on demand</th>
            <th>shipping category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for variant in variants %}
        <tr>
            <td>{{ variant.id }}</td>
            <td>{{ variant.sku }}</td>
            <td>{{ label(variant.availableOn|date,  variant.available ? 'success' : 'important') }}</td>
            <td>{{ variant.updatedAt|date }}</td>
            <td>
                <ul>
                    {% for option in variant.options %}
                        <li><strong>{{ option.name }}</strong>: {{ option.value }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ variant.price }} {{ currency|raw }}</td>
            <td>{{ badge(variant.onHand, variant.inStock ? 'success' : 'important') }} in stock</td>
            <td>
                {% if variant.availableOnDemand %}
                    {{ label('yes', 'success') }}
                {% else %}
                    {{ label('no', 'important') }}
                {% endif %}
            </td>
            <td>{{ variant.shippingCategory|default('<i>Undefined</i>')|raw }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_sandbox_backend_variant_update', {'productId': product.id, 'id': variant.id}) }}" class="btn">
                       <i class="icon-pencil"></i> edit
                    </a>
                    <a href="{{ path('sylius_sandbox_backend_variant_delete', {'productId': product.id, 'id': variant.id}) }}" class="btn btn-danger confirmer"
                        data-confirmer-question="Are you sure about deleting this product?"
                    >
                        <i class="icon-trash icon-white"></i> delete
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">Information</h4>
    There are no variants of this product.
</div>
{% endif %}
{% endmacro %}
