{% extends 'SyliusSandboxBundle:Backend:layout.html.twig' %}

{% set product = variant.product %}

{% block header %}
    <h1>Variant details</h1>
{% endblock %}

{% block content %}
<div class="well">
    <a href="{{ path('sylius_sandbox_backend_variant_create', {'productId': product.id}) }}" class="btn btn-primary">
        <i class="icon-plus icon-white"></i> add another variant
    </a>
    <a href="{{ path('sylius_sandbox_product_show', {'slug': product.slug}) }}" class="btn">
        <i class="icon-book"></i> show product in the store
    </a>
    <a href="{{ path('sylius_sandbox_backend_product_show', {'id': product.id}) }}" class="btn">
        <i class="icon-info-sign"></i> show product
    </a>
    <a href="{{ path('sylius_sandbox_backend_variant_update', {'productId': product.id, 'id': variant.id}) }}" class="btn">
        <i class="icon-pencil"></i> edit
    </a>
    <a href="{{ path('sylius_sandbox_backend_variant_delete', {'productId': product.id, 'id': variant.id}) }}" class="btn btn-danger confirmer"
        data-confirmer-question="Do you really want to delete this variant?"
    >
        <i class="icon-trash icon-white"></i> delete
    </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#id</th>
            <th>SKU</th>
            <th>created at</th>
            <th>updated at</th>
            <th>stock "on hand"</th>
            <th>option set</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ variant.id }}</td>
            <td>{{ variant.sku }}</td>
            <td>{{ variant.createdAt|date }}</td>
            <td>{{ variant.updatedAt|date }}</td>
            <td>
                <span class="badge badge-{{ variant.inStock ? 'success' : 'important' }}">{{ variant.onHand }}</span> available units.
            </td>
            <td>
                <ul>
                {% for option in variant.options %}
                    <li><strong>{{ option.name }}</strong>: {{ option.value }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>{{ variant.price }} &euro;</td>
        </tr>
    </tbody>
</table>
{% endblock content %}
