{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}

<div id="main-in">

<div class="content">

<h2>Rejestracja</h2>

<div id="register_form">

<form action="{{ path('sylius_guard_user_register') }}" method="post">
<fieldset>

{{ form_label(form.email, 'Adres e-mail') }}
{{ form_widget(form.email) }}

{{ form_label(form.plainPassword, 'Hasło') }}
{{ form_widget(form.plainPassword) }}

    {{ form_widget(form.acceptTermsOfUse) }}
    <br /><input type="submit" name="login" value="zarejestruj się" />

</fieldset>
</form>

</div>

<div id="register_info">

<h3>Zašto se registrovati?</h3>

Registracijom:
<ul>
<li>ne treba da unesete podatke pri svakoj kupovini </li>
<li>imate pristup istoriji svih njihovih kupona</li>
<li>lako možete da upravljate svojim pretplatama</li>
</ul>

</div>

</div>

</div>

{% endblock %}
