<fieldset>
    {{ form_errors(form)  }}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">Product</a></li>
        {% if form.options is defined %}
        <li><a href="#options" data-toggle="tab">Options</a></li>
        {% endif %}
        <li><a href="#properties" data-toggle="tab">Properties</a></li>
        <li><a href="#taxonomies" data-toggle="tab">Taxonomies</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="main">
            {{ form_row(form.masterVariant.sku) }}
            {{ form_row(form.name, {'attr': {'class': 'span7'}}) }}
            {{ form_row(form.description, {'attr': {'class': 'span5', 'rows': 10}}) }}
            <hr />
            <div class="control-group">
                {{ form_label(form.image) }}
                <div class="controls">
                    {{ form_widget(form.image, {'attr': {'class': 'file-hide'}}) }}
                    <span class="btn large file-overlay">upload image</span>
                    {{ form_errors(form.image) }}
                </div>
            </div>
            <hr />
            {{ form_row(form.masterVariant.availableOn) }}
            {% if not product.hasOptions %}
            {{ form_row(form.masterVariant.price) }}
            {{ form_row(form.masterVariant.onHand) }}
            {% else %}
            {{ form_row(form.masterVariant.price, {'label': 'Master price'}) }}
            {{ form_row(form.masterVariant.onHand, {'label': 'Default inventory'}) }}
            {% endif %}
            {{ form_row(form.taxCategory) }}
        </div>
        {% if form.options is defined %}
        <div class="tab-pane" id="options">
            {{ form_row(form.variantPickingMode) }}
            {{ form_row(form.options) }}
        </div>
        {% endif %}
        <div class="tab-pane" id="properties">
            <div id="sylius-assortment-product-properties" class="collection-container" data-prototype="{{ form_widget(form.properties.vars.prototype)|e }}">
                {% for propertyForm in form.properties %}
                    {{ form_widget(propertyForm) }}
                {% endfor %}
            </div>
            <div class="control-group">
                <div class="controls">
                    <a class="btn btn-success collection-add-btn" data-collection="sylius-assortment-product-properties">add property</a>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="taxonomies">
            {% for taxonomyForm in form.taxons %}
                {{ form_row(taxonomyForm) }}
            {% endfor %}
        </div>
        {% if form.options is defined %}
        <div class="tab-pane" id="options">
            {{ form_row(form.options) }}
        </div>
        {% endif %}
    </div>
</fieldset>
{{ form_widget(form._token) }}
