{% extends 'ApplicationCoreBundle:Frontend:layout.html.twig' %}

{% if app.request.get('order') %}
    {% if app.request.get('order') == 'ASC' %}
        {% set sortOrder = 'DESC' %}
    {% else %}
        {% set sortOrder = 'ASC' %}
    {% endif %}
{% else %}
    {% set sortOrder = 'DESC' %}
{% endif %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="{{ path('app_core_frontend') }}">Sylius</a> <span class="divider">/</span></li>
  <li>Assortment <span class="divider">/</span></li>
  <li><a href="{{ path('sylius_catalog_category_show', {'catalogAlias': catalog.alias, 'id': category.id, 'slug': category.slug}) }}">{{ category.name }}</a></li>
</ul>

<h1>Product list. <small>Paginated products list.</small></h1>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

{% if products %}
    <ul class="tabs">
        <li{% if app.request.get('sort') == 'name' %} class="active"{% endif %}><a href="{{ path('sylius_assortment_product_list', {'sort': 'name', 'order': sortOrder}) }}">Name!</a></li>
        <li{% if app.request.get('sort') == 'price' %} class="active"{% endif %}><a href="{{ path('sylius_assortment_product_list', {'sort': 'price', 'order': sortOrder}) }}">Price!</a></li>
        <li{% if app.request.get('sort') == 'createdAt' %} class="active"{% endif %}><a href="{{ path('sylius_assortment_product_list', {'sort': 'createdAt', 'order': sortOrder}) }}">Creation time!</a></li>
    </ul>
    <br /><br /><br />
    {% for product in products %}
        {% include 'ApplicationAssortmentBundle:Frontend/Product:single.html.twig' %}
    {% endfor %}
{% else %}
<div class="alert-message info">
  <p><strong>Information.</strong> No products to display.</p>
</div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

{% endblock %}
