{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Current orders.</h1>
</div>

<div class="well">
<a href="{{ path('sylius_sales_backend_status_list') }}" class="btn btn-primary">
    <i class="icon-th-large icon-white"></i> manage order statuses
</a>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

<ul class="nav nav-tabs">
    <li><a href="{{ path('sylius_sales_backend_order_list') }}">show all orders</a></li>
    <li><a href="{{ path('sylius_sales_backend_order_list', {'filters': {'closed': [false, '=']}}) }}">only open orders</a></li>
    <li><a href="{{ path('sylius_sales_backend_order_list', {'filters': {'closed': [true, '=']}}) }}">only closed orders</a></li>
    <li><a href="{{ path('sylius_sales_backend_order_list', {'filters': {'status': [0, '='], 'closed': [false, '=']}}) }}"><span class="label label-important">&nbsp;!&nbsp;</span> orders that need attention</a></li>
    <li><a href="{{ path('sylius_sales_backend_order_list', {'filters': {'value': [500, '>']}}) }}">over <strong>500</strong> &euro;</a></li>
    <li><a href="{{ path('sylius_sales_backend_order_list', {'filters': {'value': [500, '<']}}) }}">below <strong>500</strong> &euro;</a></li>
</ul>

{% if orders|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th><a href="{{ path('sylius_sales_backend_order_list', {'sort': 'id', 'order': sorter.order, 'filters': filter.current}) }}">#id</a></th>
            <th><a href="{{ path('sylius_sales_backend_order_list', {'sort': 'value', 'order': sorter.order, 'filters': filter.current}) }}">value</a></th>
            <th><a href="{{ path('sylius_sales_backend_order_list', {'sort': 'createdAt', 'order': sorter.order, 'filters': filter.current}) }}">creation time</a></th>
            <th><a href="{{ path('sylius_sales_backend_order_list', {'sort': 'status', 'order': sorter.order, 'filters': filter.current}) }}">status</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr{% if order.closed %} class="inactive"{% endif %}>
            <td>{{ order.id }}</td>
            <td>{{ order.value }} &euro;</td>
            <td>{{ order.createdAt|date('d.m.Y, H:i:s') }}</td>
            <td>
                {% render 'sylius_sales.controller.backend.order:changeStatusAction' with {'id': order.id} %}
            </td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_sales_backend_order_show', {'id': order.id}) }}" class="btn">
                        <i class="icon-book"></i> details
                    </a>
                    {% if order.closed %}
                    <a href="{{ path('sylius_sales_backend_order_open', {'id': order.id}) }}" class="btn">open</a>
                    {% else %}
                    <a href="{{ path('sylius_sales_backend_order_close', {'id': order.id}) }}" class="btn">close</a>
                    <a href="{{ path('sylius_sales_backend_order_delete', {'id': order.id}) }}" class="btn btn-danger">
                         <i class="icon-remove icon-white"></i> delete
                    </a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'SandboxCoreBundle') }}.</h4>
    There are no orders to display.
</div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

{% endblock %}
