{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Order details. <small>ID: {{ order.id }}.</small></h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Basic information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>#id</strong></td>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <td><strong>value</strong></td>
            <td>{{ order.value }} &euro;</td>
        </tr>
        <tr>
            <td><strong>created at</strong></td>
            <td>{{ order.createdAt|date('d.m.Y, H:i:s') }}</td>
        </tr>
        <tr>
            <td><strong>status</strong></td>
            <td>
                {% render 'sylius_sales.controller.backend.order:changeStatusAction' with {'id': order.id} %}
            </td>
        </tr>
    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Address information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 200px;"><strong>name</strong></td>
            <td>{{ order.address.name }}</td>
        </tr>
        <tr>
            <td><strong>surname</strong></td>
            <td>{{ order.address.surname }}</td>
        </tr>
        <tr>
            <td><strong>street</strong></td>
            <td>{{ order.address.street }}</td>
        </tr>
        <tr>
            <td><strong>city</strong></td>
            <td>{{ order.address.city }}</td>
        </tr>
        <tr>
            <td><strong>postcode</strong></td>
            <td>{{ order.address.postcode }}</td>
        </tr>
        <tr>
            <td><strong>e-mail</strong></td>
            <td><a href="mailto:{{ order.address.email }}">{{ order.address.email }}</a></td>
        </tr>
        <tr>
            <td><strong>phone</strong></td>
            <td>{{ order.address.phone|default('Not available.') }}</td>
        </tr>
    </tbody>
</table>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>product name</th>
            <th>variant</th>
            <th>quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.cart.items %}
            <tr>
                <td>{{ item.variant.product.name }}</td>
                <td>
                    <ul class="unstyled">
                        {% for option in item.variant.options %}
                        <li><strong>{{ option.presentation }}</strong>: {{ option.value }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ item.quantity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
