{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Order details</h1>
{% endblock %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Basic information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>#id</strong></td>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <td><strong>total</strong></td>
            <td>{{ order.total }} &euro;</td>
        </tr>
        <tr>
            <td><strong>user</strong></td>
            <td>
            {% if order.user is not empty %}
                <strong>{{ order.user.username }}</strong>
            {% else %}
                <span class="label label-warning">unknown</span>
            {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>created at</strong></td>
            <td>{{ order.createdAt|date('d.m.Y, H:i:s') }}</td>
        </tr>
        <tr>
            <td><strong>status</strong></td>
            <td>
                {% render 'sylius_sales.controller.backend.order:changeStatusAction' with {'id': order.id} %}
            </td>
        </tr>
    </tbody>
</table>
<hr />
<div class="row-fluid">
    <div class="span6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Delivery address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>firstname</strong></td>
                    <td>{{ order.deliveryAddress.firstname }}</td>
                </tr>
                <tr>
                    <td><strong>lastname</strong></td>
                    <td>{{ order.deliveryAddress.lastname }}</td>
                </tr>
                <tr>
                    <td><strong>street</strong></td>
                    <td>{{ order.deliveryAddress.street }}</td>
                </tr>
                <tr>
                    <td><strong>city</strong></td>
                    <td>{{ order.deliveryAddress.city }}</td>
                </tr>
                <tr>
                    <td><strong>postcode</strong></td>
                    <td>{{ order.deliveryAddress.postcode }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Billing address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>firstname</strong></td>
                    <td>{{ order.billingAddress.firstname }}</td>
                </tr>
                <tr>
                    <td><strong>lastname</strong></td>
                    <td>{{ order.billingAddress.lastname }}</td>
                </tr>
                <tr>
                    <td><strong>street</strong></td>
                    <td>{{ order.billingAddress.street }}</td>
                </tr>
                <tr>
                    <td><strong>city</strong></td>
                    <td>{{ order.billingAddress.city }}</td>
                </tr>
                <tr>
                    <td><strong>postcode</strong></td>
                    <td>{{ order.billingAddress.postcode }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="well">
    <a href="{{ path('sylius_sales_backend_order_update', {'id': order.id}) }}" class="btn">
        <i class="icon-th"></i> update
    </a>
    <a href="{{ path('sylius_sales_backend_order_delete', {'id': order.id}) }}" class="btn btn-danger">
        <i class="icon-trash icon-white"></i> delete
    </a>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>SKU</th>
            <th>Product</th>
            <th>quantity</th>
            <th><span class="pull-right">unit price</span></th>
            <th><span class="pull-right">line total</span></th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.variant.sku }}</td>
            <td>
                <p>{{ item.variant.product.name }}</p>
                {% if item.variant.countOptions > 0 %}
                <ul class="unstyled">
                    {% for option in item.variant.options %}
                    <li><strong>{{ option.presentation }}</strong>: {{ option.value  }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </td>
            <td>{{ item.quantity }}</td>
            <td>
                <span class="pull-right">
                {{ item.unitPrice }} &euro;
                </span>
            </td>
            <td>
                <span class="pull-right">
                {{ item.unitPrice * item.quantity }} &euro;
                </span>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
            </td>
            <td colspan="2">
                <span class="pull-right">
                <strong>Total</strong>: {{ order.total }} &euro;
                </span>
            </td>
        </tr>
    </tbody>
</table>
<hr />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="3">inventory tracking</th>
        </tr>
        <tr>
            <th>#</th>
            <th>stockable identifier</th>
            <th>created at</th>
        </tr>
    </thead>
    <tbody>
        {% for unit in order.inventoryUnits %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ unit.stockableId }}</td>
            <td>{{ unit.createdAt|date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
