{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Order details. <small>ID: {{ order.id }}.</small></h1>
</div>

<table class="bordered-table">
    <tbody>
        <tr>
            <td><strong>#id</strong></td>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <td><strong>wartość</strong></td>
            <td>{{ order.value }} &euro;</td>
        </tr>
        <tr>
            <td><strong>data złożenia</strong></td>
            <td>{{ order.createdAt|date('d.m.Y, H:i:s') }}</td>
        </tr>
        <tr>
            <td><strong>status zamówienia</strong></td>
            <td>
                {% render 'sylius_sales.controller.backend.order:statusAction' with {'id': order.id} %}
            </td>
        </tr>
    </tbody>
</table>

<h2>Address.</h2>
<table class="bordered-table">
    <tbody>
        <tr>
            <td style="width: 200px;"><strong>name</strong></td>
            <td>{{ order.name }}</td>
        </tr>
        <tr>
            <td><strong>surname</strong></td>
            <td>{{ order.surname }}</td>
        </tr>
        <tr>
            <td><strong>street</strong></td>
            <td>{{ order.street }}</td>
        </tr>
        <tr>
            <td><strong>city</strong></td>
            <td>{{ order.city }}</td>
        </tr>
        <tr>
            <td><strong>postcode</strong></td>
            <td>{{ order.postcode }}</td>
        </tr>
        <tr>
            <td><strong>e-mail</strong></td>
            <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
        </tr>
        <tr>
            <td><strong>phone</strong></td>
            <td>{{ order.phone }}</td>
        </tr>
    </tbody>
</table>

<h2>Ordered products.</h2>
<table class="bordered-table">
    <thead>
        <tr>
            <th>product name</th>
            <th>quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.cart.items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
